* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(95, 198, 166), rgb(247, 243, 243));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: white;
    width: 30%; /* Adjusted for a smaller login form */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-size: 18px;
    color: rgb(11, 132, 122);
}

input[type="email"], input[type="password"] {
    margin-top: 10px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 100%;
    font-size: 16px;
    color: gray;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 30px;
    padding: 15px;
    width: 100%;
    border: none;
    background-color: rgb(11, 132, 122);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(8, 108, 100);
}

.errors {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* Adding styles for links and checkbox */
.checkbox {
    margin-top: 20px;
}

.checkbox label {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.links {
    margin-top: 15px;
    font-size: 16px;
    color: rgb(11, 132, 122);
    text-align: center;
}

.links a {
    text-decoration: none;
    color: rgb(11, 132, 122);
    font-weight: bold;
}

.links a:hover {
    color: rgb(8, 108, 100);
}
